/* html *
{
   font-size: 1em !important;
   font-family: Arial !important;
} */

body {
    text-align: center;
    font: normal 13px Verdana, Arial, sans-serif;
}
/* form {
    display: inline-block;
} */

input[type=text], input[type=number], input[type=date] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #F5F5F5;
  color: black;
  transition: width 0.4s ease-in-out;
}




input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
  width: 70%;
}


input[type=submit] {
  background-color: #3CB371;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  background-color: #CD5C5C;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font: normal 13px Verdana, Arial, sans-serif;
}

.header button {
  background-color: #4682B4;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font: normal 13px Verdana, Arial, sans-serif;
}

.header {
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;

}
